<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sarkar.smart_bicycle">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SmartCycleTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SmartCycleTheme">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnalysisActivity"
            android:label="@string/title_activity_analysis"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SmartCycleTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarkar.smart_bicycle.MainActivity" />
        </activity>
        <activity android:name=".Encryption" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SmartCycleTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarkar.smart_bicycle.MainActivity" />
        </activity>
        <activity
            android:name=".ViewDataActivity"
            android:label="@string/title_activity_view_data"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SmartCycleTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarkar.smart_bicycle.MainActivity" />
        </activity>
        <activity
            android:name=".RideActivity"
            android:label="@string/title_activity_ride"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SmartCycleTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sarkar.smart_bicycle.MainActivity" />
        </activity>

        <service
            android:name=".BluetoothHandlerService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>